*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-size: 14px;
  line-height: 17px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.preloader {
  display: flex;
  position: fixed;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.inner-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('img/default-bg.jpg');
  padding: 0 11px;
}

.page-main {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
}

.current {
  display: flex;
  flex-direction: column;
  background: linear-gradient(141.31deg, rgba(255, 255, 255, 0.6) 15.72%, rgba(255, 255, 255, 0.258) 100.39%);
  backdrop-filter: blur(8px);
  border-radius: 10px;
  padding-top: 18px;
}

.local-data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding-left: 19px;
  padding-right: 19px;
}

.local-data__date {
  font-size: 16px;
  line-height: 14px;
}

.current__temperature-range {
  align-self: flex-end;
  line-height: 17px;
  margin-bottom: 10px;
  padding-right: 20px;
}

.current__inner-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 23px;
  row-gap: 5px;
  justify-content: start;
  padding-left: 19px;
  padding-right: 19px;
  margin-bottom: 25px;
}

.current__temperature {
  font-weight: 500;
  font-size: 41px;
  line-height: 50px;
  white-space: nowrap;
}

.current__img-container {
  padding-top: 9px;
}

.current__bottom {
  display: flex;
  width: 100%;
  background: linear-gradient(141.31deg, rgba(255, 255, 255, 0.6) 15.72%, rgba(255, 255, 255, 0.258) 100.39%);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 28px 20px 15px 20px;
  border-radius: 0px 0px 10px 10px;
}

.properties {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.properties__item {
  padding-top: 25px;
  position: relative;
}

.properties__item::before {
  content: '';
  position: absolute;
  width: 19px;
  height: 19px;
  top: 0;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.properties__item:first-child::before {
  background-image: url('img/humidity-icon.png');
}

.properties__item:nth-child(2)::before {
  background-image: url('img/wind-icon.png');
}

.properties__item:last-child::before {
  background-image: url('img/pressure-icon.png');
}


.properties__item-content {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

/* .top-section {
  display: flex;
  justify-content: space-between;
  padding-left: 51px;
  padding-right: 48px;
  padding-top: 31px;
  margin-bottom: 18px;
  flex-wrap: wrap;
}

.top-section__weather-container {
  display: flex;
  flex-direction: column;
  margin-top: -8px;
  white-space: nowrap;
}

.top-section__temperature-current {
  font-size: 58px;
  line-height: 68px;
  margin-bottom: 6px;
  text-align: center;
}

.top-section__weather {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding-left: 4px;
  text-align: center;
}

.top-section__weather::first-letter {
  text-transform: uppercase;
}

.weather-image {
  display: flex;
  justify-content: center;
  margin-bottom: 78px;
}

.weather-image__img {
  max-width: 100%;
  height: auto;
  display: block;
}

.section-bottom {
  display: flex;
  padding-left: 53px;
  padding-right: 51px;
  margin-bottom: 25px;
}

.properties {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.properties__item {
  display: flex;
  align-items: center;
}

.properties__item:not(:last-child) {
  margin-right: 32px;
}

.properties__item svg {
  margin-right: 10px;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  background: rgba(81, 87, 101, 0.8);
  border-radius: 0px 0px 27px 27px;
  padding: 29px 51px 26px 53px;
  color: #ffffff;
}


@media (max-width: 500px) {
  .main-header__location::before {
    top: 0;
  }

  .properties {
    justify-content: center;
  }

  .properties__item:last-child {
    margin-top: 5px;
  }
}


@media (max-width: 380px) {
  .top-section {
    justify-content: center;
  }

  .properties__item:not(:last-child) {
    margin-right: 10px;
  }
} */

/*preloader*/


.loader {
  color: #515765;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }

  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }

  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }

  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }

  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }

  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }

  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}