*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-size: 14px;
  line-height: 17px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  background-repeat: no-repeat;
  background-position: unset;
  background-size: cover;
  background-image: url('img/default-bg.jpg');
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.preloader {
  display: flex;
  position: fixed;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.weather-load-error {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif, Arial;
  font-size: 14px;
  line-height: 18px;
  background-color: #fff;
  z-index: 200;
  width: 100%;
  height: 100%;
}

.weather-load-error__txt {
  text-align: center;
  padding-left: 10px;
}

.inner-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 11px;
}

.page-main {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.current {
  display: flex;
  flex-direction: column;
  background: linear-gradient(141.31deg, rgba(255, 255, 255, 0.6) 15.72%, rgba(255, 255, 255, 0.258) 100.39%);
  backdrop-filter: blur(8px);
  border-radius: 10px;
  padding-top: 18px;
  margin-bottom: 33px;
}

.local-data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding-left: 19px;
  padding-right: 19px;
}

.local-data__date {
  font-size: 16px;
  line-height: 14px;
}

.current__temperature-range {
  align-self: flex-end;
  line-height: 17px;
  margin-bottom: 10px;
  padding-right: 20px;
}

.current__inner-container {
  display: grid;
  grid-template-columns: 120px 1fr;
  column-gap: 23px;
  row-gap: 5px;
  justify-content: start;
  padding-left: 19px;
  padding-right: 19px;
  margin-bottom: 25px;
}

.current__temperature {
  font-weight: 500;
  font-size: 41px;
  line-height: 50px;
  white-space: nowrap;
}

.current__img-container {
  /* padding-top: 9px; */
  position: relative;
}

.current__img {
  position: absolute;
  top: -12px;
  left: -18px;
  width: 75px;
  height: 75px;
}

.current__bottom {
  display: flex;
  width: 100%;
  background: linear-gradient(141.31deg, rgba(255, 255, 255, 0.6) 15.72%, rgba(255, 255, 255, 0.258) 100.39%);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 28px 20px 15px 20px;
  border-radius: 0px 0px 10px 10px;
}

.properties {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.properties__item {
  padding-top: 25px;
  position: relative;
}

.properties__item::before {
  content: '';
  position: absolute;
  width: 19px;
  height: 19px;
  top: 0;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.properties__item:first-child::before {
  background-image: url('img/humidity-icon.png');
}

.properties__item:nth-child(2)::before {
  background-image: url('img/wind-icon.png');
}

.properties__item:last-child::before {
  background-image: url('img/pressure-icon.png');
}


.properties__item-content {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.forecast {
  display: flex;
  flex-direction: column;
  background: linear-gradient(141.31deg, rgba(255, 255, 255, 0.6) 15.72%, rgba(255, 255, 255, 0.258) 100.39%);
  backdrop-filter: blur(8px);
  border-radius: 10px;
  margin-bottom: 57px;
  padding: 13px 9px 14px 9px;
  position: relative;
}

.forecast::after {
  content: '';
  position: absolute;
  top: 89px;
  width: 94%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.6);
}

.forecast__title {
  display: none;
}

.forecast-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  column-gap: 20px;
}

.forecast-list__item {
  display: flex;
  flex-direction: column;
}

.day__date {
  margin-bottom: 7px;
}

.day__img-container {
  margin-bottom: 18px;
  position: relative;
  height: 27px;
  width: 30px;
}

.day__img {
  position: absolute;
  left: -10px;
  width: 48px;
  height: auto;
  top: -13px;
}

.day__temp-range {
  display: flex;
  flex-direction: column;
}

.day__lowest-temp {
  font-weight: 300;
}

/*preloader*/

.preloader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif, Arial;
  font-size: 14px;
  line-height: 16px;
  background-color: #fff;
}

.preloader__img-container {
  margin-bottom: 32px;
}

.preloader__txt {
  margin: 0;
}

/*desktop*/

@media (min-width: 900px) {
  body {
    padding: 0;
    font-size: 18px;
    background-image: url('img/default-bg-desktop.jpg');
  }

  .inner-container {
    max-width: 1312px;
    width: 100%;
    padding: 0 20px;
    position: relative;
    /* margin-top: 30vh; */
  }

  .page-main {
    flex-direction: row;
    justify-content: center;
    margin-top: 90px;
  }

  .current {
    margin-right: 26px;
    width: 100%;
    max-width: 600px;
    padding-top: 40px;
    border-radius: 20px;
    margin-bottom: 57px;
  }

  .current__inner-container {
    padding-left: 36px;
    grid-template-columns: 240px 1fr;
    row-gap: 24px;
    column-gap: 35px;
    margin-bottom: 46px;
  }

  .current__temperature {
    font-weight: 500;
    font-size: 72px;
    line-height: 88px;
  }

  .current__weather {
    font-size: 14px;
    line-height: 17px;
  }

  .current__img {
    top: -13px;
    left: -30px;
    width: 120px;
    height: 120px;
  }

  .local-data {
    padding-left: 39px;
    padding-right: 41px;
    margin-bottom: 20px;
  }

  .local-data__city {
    font-size: 17px;
  }

  .local-data__date {
    font-size: 18px;
  }

  .current__temperature-range {
    padding-right: 40px;
  }

  .current__bottom {
    padding: 37px 35px 51px 45px;
    border-radius: 0px 0px 20px 20px;
  }

  .properties__item {
    padding-top: 0;
    padding-left: 45px;
  }

  .properties__item:first-child {
    padding-left: 30px;
  }


  .properties__item::before {
    left: -5px;
  }

  .properties__item:first-child::before {
    background-image: url('img/humidity-icon@2x.png');
    width: 20px;
    height: 21px;
  }

  .properties__item:nth-child(2)::before {
    background-image: url('img/wind-icon@x2.png');
    width: 35px;
    height: 35px;
  }

  .properties__item:last-child::before {
    background-image: url('img/pressure-icon@x2.png');
    width: 29px;
    height: 35px;
    top: -5px;
    left: 5px;
  }

  .properties__item-content {
    font-size: 18px;
    line-height: 21px;
  }

  .forecast {
    padding: 37px 35px 14px 15px;
    width: 100%;
    border-radius: 20px;
  }

  .forecast::after {
    top: 257px;
    height: 2px;
  }

  .forecast-list {
    margin-bottom: 51px;
  }

  .forecast__title {
    margin: 0;
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-left: 30px;
    margin-bottom: 52px;
  }

  .day__weekday {
    margin-bottom: 13px;
  }

  .day__date {
    margin-bottom: 35px;
  }

  .day__img-container {
    margin-bottom: 63px;
  }

  .day__img {
    width: 80px;
    height: auto;
    top: -35px;
    left: -20px;
  }

  .day__highest-temp {
    margin-bottom: 6px;
  }

  /*preloader*/

  .preloader {
    flex-direction: row;
    font-size: 18px;
    line-height: 21px;
  }

  .preloader__img-container {
    margin-right: 38px;
    margin-bottom: 0;
  }
}